<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__picture">
      <img src="{{ photoCover }}" alt="" />
    </div>
    <div class="small-card__title">
      <div class="content">
        <h1>
          <a [routerLink]="['content', id]">
            {{ title }}
          </a>
        </h1>
        @if (descriptionCard.length > 200) {
          <p>{{descriptionCard| slice:0:200}}... <br><br><a [routerLink]="['content', id]">read more...</a></p>
          
        }@else {
          <p>{{descriptionCard}}
        }
      </div>
    </div>
  </div>
  <hr />
</div>
