.container__small-card {
    min-width: 200px;
}

.content {
    margin-left: 24px;
}

.container__small-card-content {
    display: flex;
}
a {
    text-decoration: none;
    transition: 200ms;
}

.small-card__picture > img {
    max-width: 300px;
}

a:hover {
    color: rgb(40, 120, 240);
}

h1 {
 font-size:  16px;
 font-weight: 700;
 margin-bottom: 12px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 0.5px rgb(61, 61, 61);
    display: flex;
    font-weight: bold;
    justify-content: center;
}